# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
Client/node_modules
Client/package-lock.json

# testing
Client/coverage

# production
Client/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

*/.vs/*
*/*.csproj.user
*/*.sln