html,
form {
    font-family: 'Roboto', sans-serif;
    color: #1565C0;
    background-color: #1b1a1a;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: #BDBDBD;
  -webkit-box-shadow: 0 0 0px 1000px #1b1a1a inset;
  box-shadow: 0 0 0px 1000px #1b1a1a inset;
  transition: background-color 5000s ease-in-out 0s;
}

div::-webkit-scrollbar {
    width: 1em;
}

div::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #212121;
    box-shadow: inset 0 0 6px #212121;
}

div::-webkit-scrollbar-thumb {
    background-color: #bdbdbd;
    outline: 1px solid #212121;
}